<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <title>Rustavel</title>
    
    <!-- Vite Development -->
    {% if debug %}
    <script type="module" src="http://localhost:3000/@vite/client"></script>
    <script type="module" src="http://localhost:3000/resources/js/app.tsx"></script>
    {% else %}
    <!-- Production Build -->
    <script type="module" src="/dist/{{ manifest['resources/js/app.tsx']['file'] }}"></script>
    <link rel="stylesheet" href="/dist/{{ manifest['resources/js/app.tsx']['css'][0] }}" />
    {% endif %}
</head>
<body>
    @inertia
</body>
</html> 