<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ self.metadata().title }}{% endblock %}</title>
    {% match self.metadata().description %}
        {% when Some with (desc) %}
            <meta name="description" content="{{ desc }}">
        {% when None %}
    {% endmatch %}
    {% match self.metadata().keywords %}
        {% when Some with (kw) %}
            <meta name="keywords" content="{{ kw }}">
        {% when None %}
    {% endmatch %}
    {% match self.metadata().author %}
        {% when Some with (author) %}
            <meta name="author" content="{{ author }}">
        {% when None %}
    {% endmatch %}
    {% match self.metadata().og_title %}
        {% when Some with (title) %}
            <meta property="og:title" content="{{ title }}">
        {% when None %}
    {% endmatch %}
    {% match self.metadata().og_description %}
        {% when Some with (desc) %}
            <meta property="og:description" content="{{ desc }}">
        {% when None %}
    {% endmatch %}
    {% match self.metadata().og_image %}
        {% when Some with (img) %}
            <meta property="og:image" content="{{ img }}">
        {% when None %}
    {% endmatch %}
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        window.tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        'ruskit': '#B7410E',
                    },
                },
            },
        }
    </script>
    {% block head %}{% endblock %}
</head>
<body class="min-h-screen bg-gray-100">
    <nav class="bg-white shadow-lg">
        <div class="max-w-6xl mx-auto px-4">
            <div class="flex justify-between">
                <div class="flex space-x-7">
                    <div>
                        <a href="/" class="flex items-center py-4">
                            <span class="font-semibold text-ruskit text-lg">Ruskit</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <main class="container mx-auto mt-8 px-4">
        {% block content %}{% endblock %}
    </main>

    <footer class="bg-white shadow-lg mt-8">
        <div class="max-w-6xl mx-auto px-4 py-4">
            <p class="text-center text-gray-600">Built with Ruskit</p>
        </div>
    </footer>
</body>
</html> 